@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: white;
}

.name-gradient {
  background: linear-gradient(to right, #0062ff, #00bbff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-gradient {
  background: linear-gradient(to right, #ff7b00, #ffd900);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrive-from-left {
  animation: arrive-from-left 0.5s ease-out forwards;
}

.arrive-from-right {
  animation: arrive-from-right 0.5s ease-out forwards;
}

@keyframes arrive-from-left {
  0% {
    left: -208px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes arrive-from-right {
  0% {
    right: -208px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
